Repository Excoriate/daggerverse, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Documentation, source, ci/cd, core, documentation, ci, dependencies, tests, examples, maintenance

.github/labeler.yml:

---
root:
  - changed-files:
      - any-glob-to-any-file: '*'
AnyChange:
  - changed-files:
      - any-glob-to-any-file: '**'
Documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
feature:
  - head-branch: [^feature, feature]
infrastructure:
  - head-branch: [^infrastructure, infrastructure]
  - changed-files:
      - any-glob-to-any-file: ['**/*.tf', '**/*.tfvars', '**/*.hcl']
release:
  - base-branch: main
source:
  - changed-files:
      - any-glob-to-any-file: '**/*.go'
ci/cd:
  - changed-files:
      - any-glob-to-any-file: ['**/.github/workflows/*', '**/.gitlab-ci.yml']
# Core changes
core:
  - changed-files:
      - any-glob-to-any-file: core/**/*
# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - docs/**/*
          - '**/README.md'
          - '**/CONTRIBUTING.md'
# CI/CD changes
ci:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
# Dependencies changes
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/go.mod'
          - '**/go.sum'
          - '**/package.json'
          - '**/package-lock.json'
          - '**/yarn.lock'
# Test changes
tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*_test.go'
          - '**/test/**/*'
          - '**/tests/**/*'
# Examples changes
examples:
  - changed-files:
      - any-glob-to-any-file: examples/**/*
# Breaking changes label based on commit messages
breaking:
  - head-branch:
      - ^breaking/
      - ^major/
# Bug fix changes label based on branch names
bug:
  - head-branch:
      - ^fix/
      - ^bugfix/
      - ^bug/
# Maintenance changes
maintenance:
  - changed-files:
      - any-glob-to-any-file:
          - .gitignore
          - .editorconfig
          - .golangci.yml
          - Makefile
          - Justfile
          - .dockerignore

fix: Improve YAML linting configuration
  .pre-commit-config.yaml
  .yamllint.yml
Labels: root, AnyChange

feat: Update pre-commit hooks and configuration
  .github/config.yml
  .github/no-response.yml
  .github/stale.yml
  .github/workflows/yaml-linter.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .yamlfmt.yml
  .yamllint.yml
  terragrunt/config/presets/base-alpine.yaml
  tflinter/config/presets/base-alpine.yaml
Labels: root, AnyChange, ci/cd, ci

ci: Add YAML linting and formatting workflow
  .github/workflows/yaml-linter.yml
Labels: AnyChange, ci/cd, ci

feat: Improve YAML linting and formatting
  .github/workflows/yaml-linter.yml
  .pre-commit-config.yaml
  .yamlfmt.yml
  .yamllint.yml
Labels: root, AnyChange, ci/cd, ci

fix: Update YAML linter configuration to exclude .devenv directory
  .github/workflows/yaml-linter.excluded
  .pre-commit-config.yaml
  .yamlfmt.yml
  .yamllint.yml
Labels: root, AnyChange, ci/cd, ci

fix: Remove unnecessary flag from goreleaser config
  gotoolbox/tests/testdata/gotoolbox/.goreleaser.yaml
Labels: AnyChange, tests
